---
import conservador from '../assets/cbrs.png'
import diarioOficial from '../assets/diarioOficial.png'
import registroCivil from '../assets/registroCivil.png'
import Sii from '../assets/sii.png'
import tesoreria from '../assets/tesoreria.png'
import notarios from '../assets/notariosConservadores.png'
import poderJudicial from '../assets/poderJudicial.png'

const PAGES = [
  {
    name:"cbrs",
    link: "https://www.conservador.cl/portal/",
    logo: conservador

  },
  {
    name:"Diario Oficial",
    link: "https://www.diariooficial.interior.gob.cl/#close",
    logo: diarioOficial
  }
  ,
  {
    name:"Registro Civil",
    link: "https://www.registrocivil.cl/",
    logo: registroCivil
  },
  {
    name:"SII",
    link: "https://homer.sii.cl/",
    logo: Sii
  },
  {
    name:"Tesorería",
    link: "https://www.tgr.cl/",
    logo: tesoreria
  },
  {
    name:"Notarios y Conservadores",
    link: "https://notariosyconservadores.cl/",
    logo: tesoreria
  },
  {
    name:"Poder Judicial",
    link: "https://www.pjud.cl/",
    logo: poderJudicial
  }
]
---






<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto p-5">
  <h2 class=" text-4xl font-extrabold dark:text-primary  ">Enlaces de Interés</h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-6 mt-5">
      {
      PAGES.map(({name,link,logo}) => (
      <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-slate-100 dark:border-neutral-800 hover:bg-gray-100" href={link} target="_blank">
        <div class="p-4 md:p-5">
          <div class="flex justify-between items-center gap-x-3">
            <div class="grow">
              <div class="flex items-center gap-x-3">
                <img class="size-125 rounded-2" src={logo.src} alt="Avatar">
                <div class="grow">
                  
                </div>
              </div>
            </div>
            <div>
              <svg class="shrink-0 size-5 text-gray-900 dark:text-neutral-200" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </div>
          </div>
        </div>
      </a>
      ))
      
      }
     
  
    </div>
  </div>
  

