---
import LocationIcon from "./Icons/LocationIcon.astro"
import PhoneIcon from "./Icons/PhoneIcon.astro"
import logo from "../assets/logo.svg"
---

<nav class="bg-lightGreen border-gray-200">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src={logo.src} class="h-8 md:h-10" alt="notaria Logo">
        </a>
        <div class="hidden md:flex items-center space-x-6 rtl:space-x-reverse">
            <PhoneIcon class="w-5 h-auto stroke-gray-700 -m-4"/> 
            <a href="tel:5541251234" class="text-sm text-gray-700 hover:underline">(+56) 2 22 644 800</a>
            <LocationIcon class="w-5 h-auto stroke-gray-700"/>
            <a href="/#map-contact" class="text-sm text-gray-700 hover:underline">Alcantara #107, Las Condes</a>
        </div>
    </div>
</nav>

<nav class="bg-lightGreen">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <!-- Botón de menú móvil -->
        <button id="mobile-menu-button" class="md:hidden text-gray-700 hover:text-primary p-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>

        <!-- Menú navegación -->
        <div id="nav-menu" class="hidden md:block">
            <ul class="flex flex-col md:flex-row md:space-x-8 space-y-4 md:space-y-0 rtl:space-x-reverse">
                <li>
                    <a href="/" class="block text-gray-800 text-lg hover:text-primary hover:underline hover:decoration-primary" aria-current="page">Inicio</a>
                </li>
                <li>
                    <a href="/clientes" class="block text-gray-800 text-lg hover:text-primary hover:underline hover:decoration-primary">Acceso Clientes</a>
                </li>
                <li>
                    <a href="/validacion" class="block text-gray-800 text-lg hover:text-primary hover:underline hover:decoration-primary">Validación de Documentos</a>
                </li>
                <li>
                    <a href="preguntas" class="block text-gray-800 text-lg hover:text-primary hover:underline hover:decoration-primary">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a href="enlaces" class="block text-gray-800 text-lg hover:text-primary hover:underline hover:decoration-primary">Enlaces de Interés</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const navMenu = document.getElementById('nav-menu');

    mobileMenuButton?.addEventListener('click', () => {
        navMenu?.classList.toggle('hidden');
    });
</script>